<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>診断ページtop</title>
    <%= stylesheet_link_tag "index", media: "all" %>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500;700&display=swap" rel="stylesheet">

  </head>

<body>
<nav class="breadcrumb">
  <%= link_to "Home", root_path %> ▶ 
  <%= link_to "My rice", perfumes_path %>
</nav>
<div class="myrice-container">

 <div class="myrice-text">

  <div class="title-box">
    <h1>My rice</h1>
    <h2>新潟米診断</h2>
  </div>

  <div class="description-box">
    <p class="description">
      あなたにぴったりの新潟米を<br>
      見つけよう！<br>
      質問に答えるだけで、あなたの好みに<br>
      合う品種を診断します。<br>
      知らなかった“おいしい出会い”が、<br>
      きっと見つかるはず。
    </p>
  </div>

  <div class="button-box">
    <%= link_to "診断スタート", new_perfume_path, class: "start-btn" %>
  </div>
 </div>


  <div class="myrice-image">
    <%= image_tag("ine.jpg", alt: "稲の写真", class: "ine-image") %>
  </div>
</div>

</body>
