<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>top page</title>
    <%= stylesheet_link_tag "new", media: "all" %>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500;700&display=swap" rel="stylesheet">

  </head>

<body>
<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
<div class="questions-container">

  <!-- Q1 -->
  <div class="question-card">
    <p class="question-title">Q1. いつお米を食べる？</p>
    <div class="rice-options">
      <div class="rice-item">
        <span class="rice-label">朝</span>
        <%= f.radio_button :question1, "1", id: "custom_id1" %>
        <label for="custom_id1" class="rice-btn">
         <svg xmlns="http://www.w3.org/2000/svg" width="63" height="97" viewBox="0 0 63 97" fill="none">
          <path d="M62.9997 48.4999C62.9997 75.2858 48.8967 96.9999 31.4998 96.9999C14.1028 96.9999 0 75.2858 0 48.5C31.4998 28.5 14.103 0 31.5 0C48.897 0 62.9997 21.7141 62.9997 48.4999Z" fill="#E0CF64" fill-opacity="0.59"/>
          <line x1="33.5" y1="41.5" x2="33.5" y2="76.5" stroke="white" stroke-width="5" stroke-linecap="round"/>
         </svg>
        </label>
      </div>
      <div class="rice-item">
        <span class="rice-label">昼</span>
        <%= f.radio_button :question1, "2", id: "custom_id2" %>
        <label for="custom_id2" class="rice-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="97" viewBox="0 0 63 97" fill="none">
          <path d="M62.9997 48.4999C62.9997 75.2858 48.8967 96.9999 31.4998 96.9999C14.1028 96.9999 0 75.2858 0 48.5C31.4998 28.5 14.103 0 31.5 0C48.897 0 62.9997 21.7141 62.9997 48.4999Z" fill="#E0CF64" fill-opacity="0.59"/>
          <line x1="33.5" y1="41.5" x2="33.5" y2="76.5" stroke="white" stroke-width="5" stroke-linecap="round"/>
        </svg>
        </label>
      </div>
      <div class="rice-item">
        <span class="rice-label">夜</span>
        <%= f.radio_button :question1, "3", id: "custom_id3" %>
        <label for="custom_id3" class="rice-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="97" viewBox="0 0 63 97" fill="none">
          <path d="M62.9997 48.4999C62.9997 75.2858 48.8967 96.9999 31.4998 96.9999C14.1028 96.9999 0 75.2858 0 48.5C31.4998 28.5 14.103 0 31.5 0C48.897 0 62.9997 21.7141 62.9997 48.4999Z" fill="#E0CF64" fill-opacity="0.59"/>
          <line x1="33.5" y1="41.5" x2="33.5" y2="76.5" stroke="white" stroke-width="5" stroke-linecap="round"/>
         </svg>
        </label>
      </div>
    </div>
  </div>

  <!-- Q2 -->
  <div class="question-card">
    <p class="question-title">Q2. 好きなお米の硬さは？</p>
    <div class="rice-options">
      <div class="rice-item">
        <span class="rice-label">硬め</span>
        <%= f.radio_button :question2, "1", id: "custom_id4" %>
        <label for="custom_id4" class="rice-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="97" viewBox="0 0 63 97" fill="none">
          <path d="M62.9997 48.4999C62.9997 75.2858 48.8967 96.9999 31.4998 96.9999C14.1028 96.9999 0 75.2858 0 48.5C31.4998 28.5 14.103 0 31.5 0C48.897 0 62.9997 21.7141 62.9997 48.4999Z" fill="#E0CF64" fill-opacity="0.59"/>
          <line x1="33.5" y1="41.5" x2="33.5" y2="76.5" stroke="white" stroke-width="5" stroke-linecap="round"/>
         </svg>
        </label>
      </div>
      <div class="rice-item">
        <span class="rice-label">普通</span>
        <%= f.radio_button :question2, "2", id: "custom_id5" %>
        <label for="custom_id5" class="rice-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="97" viewBox="0 0 63 97" fill="none">
          <path d="M62.9997 48.4999C62.9997 75.2858 48.8967 96.9999 31.4998 96.9999C14.1028 96.9999 0 75.2858 0 48.5C31.4998 28.5 14.103 0 31.5 0C48.897 0 62.9997 21.7141 62.9997 48.4999Z" fill="#E0CF64" fill-opacity="0.59"/>
          <line x1="33.5" y1="41.5" x2="33.5" y2="76.5" stroke="white" stroke-width="5" stroke-linecap="round"/>
         </svg>
        </label>
      </div>
      <div class="rice-item">
        <span class="rice-label">やわらかい</span>
        <%= f.radio_button :question2, "3", id: "custom_id6" %>
        <label for="custom_id6" class="rice-btn">
         <svg xmlns="http://www.w3.org/2000/svg" width="63" height="97" viewBox="0 0 63 97" fill="none">
          <path d="M62.9997 48.4999C62.9997 75.2858 48.8967 96.9999 31.4998 96.9999C14.1028 96.9999 0 75.2858 0 48.5C31.4998 28.5 14.103 0 31.5 0C48.897 0 62.9997 21.7141 62.9997 48.4999Z" fill="#E0CF64" fill-opacity="0.59"/>
          <line x1="33.5" y1="41.5" x2="33.5" y2="76.5" stroke="white" stroke-width="5" stroke-linecap="round"/>
         </svg>
        </label>
      </div>
    </div>
  </div>

  <!-- Q3 -->
  <div class="question-card">
    <p class="question-title">Q3. お米の粘りは？</p>
    <div class="rice-options">
      <div class="rice-item">
        <span class="rice-label">もっちり</span>
        <%= f.radio_button :question3, "1", id: "custom_id7" %>
        <label for="custom_id7" class="rice-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="97" viewBox="0 0 63 97" fill="none">
          <path d="M62.9997 48.4999C62.9997 75.2858 48.8967 96.9999 31.4998 96.9999C14.1028 96.9999 0 75.2858 0 48.5C31.4998 28.5 14.103 0 31.5 0C48.897 0 62.9997 21.7141 62.9997 48.4999Z" fill="#E0CF64" fill-opacity="0.59"/>
          <line x1="33.5" y1="41.5" x2="33.5" y2="76.5" stroke="white" stroke-width="5" stroke-linecap="round"/>
         </svg>
        </label>
      </div>
      <div class="rice-item">
        <span class="rice-label">普通</span>
        <%= f.radio_button :question3, "2", id: "custom_id8" %>
        <label for="custom_id8" class="rice-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="97" viewBox="0 0 63 97" fill="none">
          <path d="M62.9997 48.4999C62.9997 75.2858 48.8967 96.9999 31.4998 96.9999C14.1028 96.9999 0 75.2858 0 48.5C31.4998 28.5 14.103 0 31.5 0C48.897 0 62.9997 21.7141 62.9997 48.4999Z" fill="#E0CF64" fill-opacity="0.59"/>
          <line x1="33.5" y1="41.5" x2="33.5" y2="76.5" stroke="white" stroke-width="5" stroke-linecap="round"/>
         </svg>
        </label>
      </div>
      <div class="rice-item">
        <span class="rice-label">あっさり</span>
        <%= f.radio_button :question3, "3", id: "custom_id9" %>
        <label for="custom_id9" class="rice-btn">
         <svg xmlns="http://www.w3.org/2000/svg" width="63" height="97" viewBox="0 0 63 97" fill="none">
          <path d="M62.9997 48.4999C62.9997 75.2858 48.8967 96.9999 31.4998 96.9999C14.1028 96.9999 0 75.2858 0 48.5C31.4998 28.5 14.103 0 31.5 0C48.897 0 62.9997 21.7141 62.9997 48.4999Z" fill="#E0CF64" fill-opacity="0.59"/>
          <line x1="33.5" y1="41.5" x2="33.5" y2="76.5" stroke="white" stroke-width="5" stroke-linecap="round"/>
         </svg>
        </label>
      </div>
    </div>
  </div>

</div>

<div class="sindanbotan">
  <%= f.submit " 結果 " , class: "result-btn" %>
</div>


<% end %>

<div class="page-footer"></div>



</body>
