<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>top page</title>
    <%= stylesheet_link_tag "top", media: "all" %>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500;700&display=swap" rel="stylesheet">

  </head>

<body>
<div class="first-block">
  <div class="title-overlay">
    <h1 class="site-title">おこめ日和</h1>
    <p class="site-subtitle">Enjoy the gentle moments with Niigata rice.</p>
  </div>
</div>
  
<div class="category-container">
  
  <%= link_to perfumes_hinsyuitirann_path, class: "category-item" do %>
    <%= image_tag "rice1.jpg", class: "category-image" %>
    <h3>Niigata rice variety</h3>
    <p>品種一覧<br>新たな新潟米を発掘！</p>
  <% end %>

  <%= link_to perfumes_path, class: "category-item" do %>
    <%= image_tag "rice2.jpg", class: "category-image" %>
    <h3>My rice</h3>
    <p>新潟米診断<br>お気に入り新潟米を見つけよう</p>
  <% end %>

  <%= link_to perfumes_takikata_path, class: "category-item" do %>
    <%= image_tag "rice3.jpg", class: "category-image" %>
    <h3>Knowledge</h3>
    <p>豆知識<br>いつものご飯をもっとおいしく。</p>
  <% end %>

  <%= link_to tweets_path, class: "category-item" do %>
    <%= image_tag "rice4.jpg", class: "category-image" %>
    <h3>Recipe share</h3>
    <p>レシピ共有<br>お米のアレンジ幅を広げよう</p>
  <% end %>

</div>


<div class="third-block">
</div>


</body>