<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Kome" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="navbar">
  <%= link_to "Top page", root_path,class: "nav-link" %>
  <%= link_to "My rice", perfumes_path,class: "nav-link" %>
  <%= link_to "Niigata rice variety", perfumes_hinsyuitirann_path,class: "nav-link" %>
  <%= link_to "Knowledge", perfumes_takikata_path ,class: "nav-link"%>
  <%= link_to "Recipe share", tweets_path,class: "nav-link" %>
  </header>

  
    <%= yield %>
  
  <footer>	
  <small>© 2025 sanuki wakana</small>
  </footer>
  
  </body>
</html>
